.animation-container {
  width: 700px;

  .path {
    stroke-dasharray : 1000;
    stroke-dashoffset: 0;
    opacity          : 1;

    &.circle {
      opacity  : 1;
      animation: dash 2s ease-in-out;
    }

    &.line {
      opacity          : 1;
      stroke-dashoffset: 1000;
      animation        : dash-error 1.9s 1.35s ease-in-out forwards;
    }

    &.check {
      opacity          : 1;
      stroke           : #73AF55;
      stroke-dashoffset: -100;
      animation        : dash-check 2s 1.35s ease-in-out forwards;
    }
  }

  @keyframes dash {
    0% {
      stroke           : red;
      stroke-dashoffset: 900;
    }

    100% {
      stroke           : #73AF55;
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash-error {
    0% {
      stroke           : #73AF55;
      stroke-dashoffset: 900;
    }

    100% {
      stroke           : red;
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }

    100% {
      stroke-dashoffset: 900;
    }
  }
}