version: '2'
services:
  webserver:
    extends:
      file: ./docker-compose.yml
      service: webserver
  testable:
    extends:
      file: ./docker-compose.yml
      service: testable
    environment:
      - REACT_APP_FIREBASE_JSON=$REACT_APP_FIREBASE_JSON
      - REACT_APP_RANKING_API=$REACT_APP_RANKING_API
      - REACT_APP_SURVEY_URL=$REACT_APP_SURVEY_URL
      - REACT_APP_SHOW_SURVEY=$REACT_APP_SHOW_SURVEY
      - REACT_APP_DEBUG=$REACT_APP_DEBUG
      - PORT=$TESTABLE_PORT
    volumes:
      - ./webapp:/var/www/app
    command: npm run start
    stdin_open: true
    ports:
      - $TESTABLE_PORT:$TESTABLE_PORT
  ranking:
    extends:
      file: ./docker-compose.yml
      service: ranking
    environment:
      - PORT=$RANKING_PORT
    build:
      context: ./ranking-api
    user: 'node'
    volumes:
      - ./ranking-api:/var/www/ranking_api
    command: node index.js
    ports:
      - $RANKING_PORT:$RANKING_PORT