$menu-height: 45px;

.profile {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
  }
  
  .picture-holder {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 999px;
    border: 1px solid #fff;
    overflow: hidden;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
    height: $menu-height;

    .title {
      margin-left: 10px;
    }

    .icon {
      margin-left: 10px;
      font-size: 3.9em;
    }
  }

  .options {
    margin-top: calc(#{$menu-height} + 15px);
  }
}
