.profile {
  display: flex;
  align-items: center;

  .picture-holder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;

    .title {
      white-space: nowrap;
      margin-left: 10px;
    }

    .icon {
      margin-left: 10px;
      font-size: 3.9em;
    }
  }
}
