.profile {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
  }
  
  .picture-holder {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    overflow: hidden;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;

    .title {
      margin-left: 10px;
    }

    .icon {
      margin-left: 10px;
      font-size: 3.9em;
    }
  }
}
