@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");

html, body, #root {
  height: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-flow: column;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  & > div {
    position: absolute;
    width: 100%;
  }
}

body {
  font-family: "Rajdhani", sans-serif;
  overflow: hidden;
}

.stars:before {
  content: "";
  background: url('/assets/stars.png');
  position: absolute;
  left: -50%;
  top: -50%;
  right: -50%;
  bottom: -50%;
  pointer-events: none;
  opacity: 0.4;
  animation: sky 1000s linear infinite;
}

@keyframes sky {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}