.completed-intro {
    svg {
      width: 30px;
      height: 30px;
      display: block;
      margin-left: 40px;
    }

    .path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;

      &.circle {
          animation: dash .9s ease-in-out;
      }
      &.line {
          stroke-dashoffset: 1000;
          animation: dash .9s 1.35s ease-in-out forwards;
      }
      &.check {
          stroke-dashoffset: -100;
          animation: dash-check .9s 1.35s ease-in-out forwards;
      }
    }

    .test-container-check h1 {
      display: flex;
    }

    .slide-in-elliptic-left-fwd {
      animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-in-elliptic-left-fwd {
      0% {
          transform: translateX(-800px) rotateY(30deg) scale(0);
          transform-origin: -100% 50%;
          opacity: 0;
      }
      100% {
          transform: translateX(0) rotateY(0) scale(1);
          transform-origin: 1800px 50%;
          opacity: 1;
      }
    }

    @keyframes dash {
      0% {
          stroke-dashoffset: 1000;
      }
      100% {
          stroke-dashoffset: 0;
      }
    }

    @keyframes dash-check {
      0% {
          stroke-dashoffset: -100;
      }
      100% {
          stroke-dashoffset: 900;
      }
    }
}