.profile {
    border: solid 1px;
    width: 300px;
    display: flex;
    align-items: center;

    .picture-holder {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        border: solid 2px;
    }

    .info {

        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;

        .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 10px;
        }

        .icon {
            margin-left: 10px;
            font-size: 4.9em;
        }
    }
}