@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulsate-fwd {
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
