@tailwind preflight;
@tailwind components;
@tailwind utilities;

@responsive {
  .slide-in-bck-right {
    animation: slide-in-bck-right 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes slide-in-bck-right {
    0% {
      transform: translateZ(700px) translateX(400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }

  .slide-in-bck-top {
    animation: slide-in-bck-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes slide-in-bck-top {
    0% {
      transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
}

.scale-in-center {
  animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}